.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #333;
}

div.card { 
  min-width: 200px; 
  color: white;
  background-color: #282727;
}

li { color: white;}